---
title: Dishes
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      {% include "style.css" %}
    </style>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1 align="center">Dishes</h1>
    {{ content }}
  </body>
</html>
