---
title: dishes
layout: layout.njk
---
<ul>
  {%- for post in collections.post -%}
    <li>
      <a href="{{ post.url }}">
        {{ post.data.title }}
        <img width="50" src="{{ post.url }}image.png" alt="title">
      </a>
    </li>
  {%- endfor -%}
</ul>
